{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Admin Panel{% endblock %}</title>
    <link rel="icon" href="{% static 'img/icon.png' %}">
    
    <!-- CSS Files -->
    <link href="{% static 'vendor/datatables/datatables.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/datatables/datatables.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>
<body id="page-top">

    <div id="wrapper">
        <!-- Sidebar -->
        {% include "main/sidebar.html" %}
        
        <div id="content-wrapper">
            <div id="content">
                <!-- Top Navbar -->
                {% include "main/navbar.html" %}

                <!-- Page Content -->
                <div class="container-fluid">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>

    <!-- JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/datatables.js' %}"></script>
    <script src="{% static 'vendor/datatables/datatables.min.js' %}"></script>
    <script src="{% static 'vendor/jquery/jquery.slim.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.js"></script>
    {% block script %}  {% endblock %}
</body>
</html>
