{% extends 'main/base.html' %}
{% block title %}Images Dashboard{% endblock %}
{% block content %}
    <h1 class="h3 mb-4 text-gray-800">Welcome to Images Dashboard</h1>
    <button  onclick="AddImageForm()" id="toggleButton" class="btn btn-primary btn-sm">Open Media</button>
    <br>
    <br>
    <form action="{% url 'upload_images' %}" method="post" enctype="multipart/form-data" class="dropzone" id="my-dropzone" action="/Images/Upload/" style="display: none">
        {% csrf_token %}
    </form>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>ID</th>
                        <th>Uploaded Date</th>
                        <th>Processed</th>
                        <th>Result</th>
                        <th>Description</th>
                        <th>Path</th>
                        <th>Capture Date</th>
                        <th>Location</th>
                        <th>Resolution</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

{% block script %}
    <script language="javascript">

        
        
        Dropzone.autoDiscover = true;
        let myDropzone = new Dropzone("#my-dropzone", {
            paramName: "file", 
            maxFilesize: 10, // 
            acceptedFiles: "image/*", 
            addRemoveLinks: true, 
            dictDefaultMessage: "Drop files here or click to upload", 
            init: function() {
            this.on("success", function(file, response) {
              console.log("File uploaded successfully");
              window.refresh();
            });
            this.on("error", function(file, errorMessage) {
              console.log("Error uploading file: " + errorMessage);
            });
            }
        });
        
        
        
        
        function AddImageForm(){
            let dropzone = document.getElementById("my-dropzone");
            let toggleButton = document.getElementById("toggleButton");
            if (dropzone.style.display === 'none'){
                dropzone.style.display = "block";
                toggleButton.innerHTML  = "Close Media"
            }
            else {
                dropzone.style.display = "none";
                toggleButton.innerHTML  = "Open Media"
            }
        }
        
    </script>

{% endblock %}

{% endblock %}
